body {
    background-color: lightgray;
}

#grid {
    height: 512px;
    width: 512px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

div {
    border: 0.25px solid rgb(255, 0, 0);
    height: 31px;
    width: 31px;
}