body {
    background-color: lightgray;
}

#grid {
    height: 512px;
    width: 512px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border: 0.25px solid rgb(239, 239, 239);
}

#box {
    border: 0.25px solid rgb(239, 239, 239);
}

